<div class="card">
  <section class="image">
    <div class="current-rating">
      <span>4.8</span>
      <span class="material-icons">star</span>
    </div>
  </section>
  <section class="meta-info">
    <h3>Special Caribbean Roasted Egg</h3>
    <p>Have you enjoyed the dish?</p>
    <div class="rating-bar">
      <app-rating-bar [filledColor]="'#FFDD03'"></app-rating-bar>
    </div>
    <p>What did you like the most?</p>
    <div class="chips-list">
      <span>Flavours</span>
      <span>Garnishing</span>
      <span>Spices</span>
    </div>
  </section>
</div>
