<main>
  <section class="header">
    <h1>Angular Star Rating Component</h1>
  </section>
  <section class="showcase">
    <div>
      <h2>3.5</h2>
      <ngx-star-rating [total]="5" [rating]="3.5" [type]="'hollow'" [readonly]="true" (rated)="getRating($event)">
      </ngx-star-rating>
      <p>Display Only</p>
    </div>
    <div>
      <h2>{{rating}}</h2>
      <ngx-star-rating [total]="5" [filledColor]="'#FFDD03'" [rating]="rating" [type]="'filled'" [readonly]="false"
                       (rated)="getRating($event)">
      </ngx-star-rating>
      <p>Interactive</p>
    </div>
  </section>
  <section class="examples">
    <h2>Angular Star Rating Examples</h2>
    <app-user-rating></app-user-rating>
    <br>
    <app-food-rating></app-food-rating>
  </section>
</main>
