<div class="card">
  <section class="card-header">
    <h3>Rate Your Interaction</h3>
    <p>How did it go?. Please let us know,
      so that we can serve you better.</p>
  </section>
  <section class="card-content">
    <div class="meta-info">
      <img src="../../../assets/user.png" alt="">
      <div class="current-rating">
        <span>4.8</span>
        <span class="material-icons">star</span>
      </div>
      <p class="name">Sophie Jones</p>
      <p class="designation">Senior Support Executive</p>
    </div>
    <div class="rating">
      <ngx-star-rating [type]="'filled'"></ngx-star-rating>
    </div>
  </section>
  <section class="card-footer">
    <button>Submit</button>
  </section>
</div>
